<ion-view id="remote-stations-view"
          view-title="Remote Stations"
          cache-view="false">
  <ion-content>
    <div id="alerts" class="row">
      <div class="col success" ng-show="vm.successMessage">
        {{vm.successMessage}}
        <i class="icon ion-close padding-right" ng-click="vm.clearStatusMessages()"></i>
      </div>

      <div class="col error" ng-show="vm.errorMessage">
        {{vm.errorMessage}}
        <i class="icon ion-close padding-right" ng-click="vm.clearStatusMessages()"></i>
      </div>
    </div>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Selected Station
        </div>
        <select ng-model="vm.selectedStationUrl">
          <option ng-repeat="station in vm.remoteStations" value="{{station.url}}">{{station.name}}</option>
        </select>
      </label>

      <div class="item">
        <a class="button button-block button-balanced" href="#/app/remoteStationsList">
          Add/Edit Station
        </a>
      </div>
      <div class="item item-divider">
        Settings
      </div>
      <li class="item item-input" ng-repeat="textInput in vm.textInputs">
          <span class="input-label">{{textInput.key}}</span>
          <input type="text" ng-model="textInput.value">
      </li>

      <li class="item item-input" ng-repeat="numberInput in vm.numberInputs">
        <span class="input-label">{{numberInput.key}}</span>
        <input type="number" ng-model="numberInput.value">
      </li>

      <li class="item item-toggle" ng-repeat="boolean in vm.booleanInputs">
        <span class="list-label">{{boolean.key}}</span>
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="boolean.value">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <label class="item item-input item-select" ng-repeat="list in vm.listInputs">
        <div class="input-label">
          {{list.key}}
        </div>
        <select ng-model="list.selectedValue">
          <option ng-repeat="item in list.options">{{item}}</option>
        </select>
      </label>
    </div>
  </ion-content>
  <ion-footer-bar>
    <button class="button" type="button" ng-click="vm.getSettings()">Get Latest Settings</button>
    <button class="button button-calm" type="button" ng-click="vm.updateSettings()">Update Settings</button>
  </ion-footer-bar>

</ion-view>



